<%- include('head') %>
<body id="edit-user">
<!-- 	<a href="/queue" style="float: left;" class="btn">Queue</a> | <a href="/add-user" class="btn">Add User</a> | <a href="/users" class="btn">View Users</a> -->
<%- include('menu') %>
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col col-xl-6 col-lg-8 col-md-12">
				<form class="form-horizontal" action="/edit-user/<%= user.id %>" method="POST">
					<section id="register">
						<div id="legend">
							<legend class=""><%= user.name %></legend>
						</div>

						<div class="form-group">
							<!-- First Name -->
							<label class="control-label" for="first_name">First Name</label>
							<input type="text"
								id="first_name"
								name="first_name"
								value="<%= user.firstName %>"
								class="form-control input-xlarge">
						</div>

						<div class="form-group">
							<!-- Last Name -->
							<label class="control-label" for="last_name">Last Name</label>
							<input type="text"
								id="last_name"
								name="last_name"
								value="<%= user.lastName %>"
								class="form-control input-xlarge">
						</div>

						<div class="form-group">
							<!-- E-mail -->
							<label class="control-label" for="email">E-mail</label>
							<input type="text"
								id="email"
								name="email"
								value="<%= user.email %>"
								class="form-control input-xlarge">
						</div>

						<div class="form-group">
							<!-- Phone -->
							<label class="control-label" for="phone">Phone Number</label>
							<input type="text"
								id="phone"
								name="phone"
								value="<%= user.phone %>"
								class="form-control input-xlarge">
						</div>

<!-- 						<div class="form-group"> -->
<!--                              --><!-- Score 1 -->
<!--                             <label class="control-label" for=score1">Score 1</label> -->
<!--                             <input type="text" -->
<!--                                 id="score1" -->
<!--                                 name="score1" -->
<!--                                 value="<%= user.score1 == 0 ? 'PENDING' : user.score1 %>" -->
<!--                                 class="form-control input-xlarge"> -->
<!--                         </div> -->

<!--                         <div class="form-group"> -->
<!--                              --><!-- Score 2 -->
<!--                             <label class="control-label" for=score2">Score 2</label> -->
<!--                             <input type="text" -->
<!--                                 id="score2" -->
<!--                                 name="score2" -->
<!--                                 value="<%= user.score2 %>" -->
<!--                                 class="form-control input-xlarge"> -->
<!--                         </div> -->

						<div class="form-group">
							Times
							<div class="row">
								<div class="col-6">
									<button type="button" data-score="1" class="time-btn btn-block btn btn-outline-success">
										<%= user.score1 == 0 ? 'PENDING' : user.score1 %>
									</button>
								</div>
								<div class="col-6">
									<button type="button" data-score="2" class="time-btn btn-block btn btn-outline-success">
										<%= user.score2 == 0 ? 'PENDING' : user.score2 %>
									</button>
								</div>
							</div>
						</div>

						<div class="form-group submit-button">
							<!-- Button -->
							<button class="btn btn-block btn-success">Submit</button>
						</div>
					</section>
				</form>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		window.jQuery(document).ready(function () {

			var longpress = 3000;
			var timer;

			var clearTime = function (score) {
				window.location = '/clear-score/<%= user.id %>/'+score;
			}
//
// 		    var addTime = function (score) {
// 		        window.location = '/new-score/<%= user.id %>/'+score;
// 		    }

		    $(".time-btn").on('mousedown', function (e) {
                e.preventDefault();
                timer = setTimeout(() => addTime( $(this).data('score') ));
            });

			$(".time-btn").on('mousedown', function (e) {
				e.preventDefault();
				timer = setTimeout(() => clearTime( $(this).data('score') ), longpress);
			});

			$(".time-btn").on('mouseleave', function (e) {
				e.preventDefault();
				timer = clearTimeout(timer);
			});

			$(".time-btn").on('mouseup', function (e) {
				e.preventDefault();
				timer = clearTimeout(timer);
			});
		});
	</script>
<%- include('foot') %>