<%- include('head') %>
<body id="users">
<!-- 	<a href="/queue" style="float: left;" class="btn">Queue</a> | <a href="/add-user" class="btn">Add User</a> | <a href="/users" class="btn">View Users</a> -->
<%- include('menu') %>
	<link rel="stylesheet" href="/css/dataTables.css">
	<div class="container">
		<div class="row">
           <div class="logo">
           					<img alt="Fastest Hands in HVAC/R" src="/images/fasthandslogo.png">
           			</div>
        </div>
		<div class="row">
			<i class="fas fa-search" aria-hidden="true"></i>
			<input class="form-control form-control-lg w-55" type="text" placeholder="Search" aria-label="Search" id="search-field">
		</div>

		<div class="row">
			<table id="users-table" class="table table-dark table-striped" style="width: 100%">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">First Name</th>
						<th scope="col">Phone</th>
						<th scope="col">Email</th>
						<th scope="col">Best Time</th>
						<th scope="col">Edit</th>
					</tr>
				</thead>
				<tbody>
					<% users.map((user, i) => { %>
						<tr>
							<th scope="row">
								<a href="/edit-user/<%= user.id %>"><%= i+1 %></a>
							</th>
							<td nowrap>
								<a href="/edit-user/<%= user.id %>">
									<%= user.name %>
								</a>
							</td>
							<td nowrap>
								<a href="/edit-user/<%= user.id %>">
									<%= user.phone %>
								</a>
							</td>
							<td nowrap>
								<a href="/edit-user/<%= user.id %>">
									<%= user.email %>
								</a>
							</td>
							<td nowrap>
								<a href="/edit-user/<%= user.id %>">
									<%= user.best %>
								</a>
							</td>
							<td>
								<% if (user.finished) { %>
									<button type="button" disabled class="btn btn-outline-light">Queue</button>
								<% } else { %>
									<a href="/queue-user/<%= user.id %>" class="btn btn-outline-light">Queue</a>
								<% } %>
								<a href="#" class="delete-user btn btn-outline-danger"
								data-name="<%= user.name %>"
								data-link="/delete-user/<%= user.id %>"
								data-id="<%= user.id %>"
								>Delete</a>
							</td>
						</tr>
					<% }) %>
				</tbody>
			</table>
		</div>
	</div>
	<script src="/js/dataTables.js"></script>
	<script type="text/javascript">
		window.jQuery(document).ready(function () {
			var Table = $('#users-table').DataTable({
				paging: false,
				searching: true,
				ordering: false,
				stripeClasses: [ 'strip1', 'strip2', 'strip3' ]
			});

			$('#search-field').keyup(function(){
				Table.search( this.value ).draw();
			})

			$(".delete-user").click(e => {
				e.preventDefault()

				let id = $(e.target).data('id')
				let link = $(e.target).data('link')
				let name = $(e.target).data('name')
				let sure = confirm(`Are you sure you want to delete ${name}`)

				if (sure) window.location = link
			})
		})
	</script>
<%- include('foot') %>